.wrapper {
  margin: 2rem 0; /* Önerilen değişiklik: Genel olarak margin miktarını azaltın */
}
.wrapper h3 {
  margin-bottom: 1rem;
}
.card {
  max-width: 100%;
  overflow: hidden;
}

.card-image {
  border-radius: 2rem;
  width: 100%;
  height: auto; /* Değiştirilen kısım: Yüksekliği "auto" olarak ayarlayın */
  object-fit: cover;
}

.card-title {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
  width: 100%;
  text-align: center;
  height: 40%;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .card-title {
    font-size: 0.8rem; /* Değiştirilen kısım: Küçük ekranlarda yazı boyutunu küçültün */
  }
}
